# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

.gcloudignore
.git
.gitignore

# Python pycache:
__pycache__/
*.pyc

# Testing and local files
tests/
scripts/
*.test.py
.env.yaml.local
.env
test_data/

# Documentation
*.md
docs/

# Local virtual environments
venv/
env/
.venv/